<footer>
    <div class="logo-footer">
        <a  href="/"><img src="img/TuristAr-logo2.png" alt="logo" ></a>
    </div>
    <section>
        <div class="Contactanos">
            <p>Contactanos</p>
            <ul>
                <li><i class="fa-brands fa-facebook"></i><a href="/facebook">Facebook</a></li>
                <li><i class="fa-solid fa-envelope"></i><a href="/facebook">Correo</a></li>
                <li><i class="fa-brands fa-whatsapp"></i><a href="/facebook">Whatsapp</a></li>
                <li><i class="fa-brands fa-twitter"></i><a href="/facebook">Twitter</a></li>
                <li><i class="fa-brands fa-instagram"></i><a href="/facebook">Instagram</a></li>
            </ul>
        </div>
        <div class="Nosotros">
                <p>Preguntas frecuentes</p>
            <ul>
                <li><a href="/PreguntasFrec"> ¿Quienes somos?</a></li>
                <li><a href="/PreguntasFrec">¿Donde nos ubicamos?</a></li>
                <li><a href="/PreguntasFrec">¿Que hacemos?</a></li>
                <li><a href="/PreguntasFrec">Agregar hospedaje</a></li>
            </ul>
        </div>
        <div class="redes">
                <a href="#">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa-regular fa-envelope"></i>
                </a>
            </i>
        </div>
       
    </section>
</footer>