* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.no-scroll {
    overflow: hidden;
}
.filter {
    filter: brightness(0.5);
    transition: filter 0.2s ease;
}

.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    background-color: #0a365a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
}
.barra-busqueda {
    display: none;
}
.logo {
    width: 120px;
}
.logo a {
    width: 100%;
}
.logo a img{
    width: 100%;
}
.burger-menu {
    display: none;
}
.name-user{
    display: none;
}
.nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    width: 50%;
    list-style-type: none;
    padding: 15px 0px;
    background-color: #082f4e86;
    backdrop-filter: blur(5px);
    z-index: 20;
    top: 60px;
    right: -50%;
    transition: right 0.5s;
}
.bar {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding-top: 25px;
}
.bar li {
    width: 90%;
    border-bottom: white solid 1px;
}
.bar li a {
    color: white;
    font-size: 20px;
    
}
.bar li i {
    color: white;
}
.deslizar {
    display: flex;
    right: 0;
    transition: right 0.5s;
  }
.usuario .user{
    display: none;
}
.usuario .burger {
    color: #2199ea;
    font-size: 40px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        flex-wrap: wrap;
    }
    .logo{
        width: 200px;
    }
    .usuario {
        display: none;
    }
    
    .barra-busqueda {
        display: block;
        width: 40%;
        height: 35px;
        display: flex;
    }
    .barra-busqueda .boton-de-inputs {
        width: 90%;
        height: 40px;
        border: none;
        padding: 0px 5px;
    }
    .campo {
        width: 100%;
        height: 35px;
        border: none;
        margin: 0px 2px;
        padding: 0px 0px  5px 5px;
    }
    .campo:focus {
        outline: none;
    }
    .search {
        background-color: transparent;
        height: 40px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .lupa {
        border: none;
        color: #2199ea;
        font-size: 25px;
        margin-left: 0px;     
    }
    .user {
        display: flex;
        justify-content: center;
        align-items:center;
        margin-right: 50px;
    }
    .burger-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    .name-user {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 60px;
    }
    .fotoUser {
        width: 35px;
        border-radius: 50%;
    }
    .userName {
        color: white;
        font-size: 18px;
        padding: 15px 15px 0px;
    }
    .login a , .register a {
        color: white;
    }
    .login-bar, .register-bar {
        display: none;
    }
    
    .nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 30px;
        padding-top: 10px;
        position: relative;
        right: 0%;
        top: 2px;
        background-color: #0a365a;
    }
    .bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        list-style: none;
    }
    .bar li a {
        color:white;
        font-size: 16px;
        transition: color 0.3s;
    }
    
    .bar li {
        transition: color 0.3s;
        width: auto;
        border-bottom: none;
        padding: 5px 10px;
    }
    
}
@media (min-width: 1024px) {
    .logo {
        width: 150px;
    }
    .barra-busqueda {
        width: 50%;
    }
    .barra-busqueda .boton-de-inputs {
        height: 30px;
        padding-top: 5px;
    }
    .campo {
        height: 20px;
    }
    .lupa {
        font-size: 20px;
        padding-bottom: 15px;
    }
    .userName {
        transition: all .5s ease;
    }
    .userName:hover {
        color: #2199ea;
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 0.5px;
    }
    .login a , .register a {
        font-size: 14px;
        transition: all .5s ease;
    }
    .login a:hover , .register a:hover {
        color: #2199ea;
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 0.7px;
    }
    .nav {
        padding: 15px 0px 20px;
    }
    .bar li {
        padding: 5px 15px;
        border-radius: 50px;
        border: 0;
        background-color: #0a365a;
        box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
        letter-spacing: 0.5px;
        font-size: 15px;
        transition: all .5s ease;
    }
    .bar li:hover{
        letter-spacing: 2px;
        background-color: hsl(208deg 80% 52%);
        color: hsl(0, 0%, 100%);
        box-shadow: #0a365a 0px 7px 29px 0px;
    }
    .bar li:hover i{
        text-decoration: none;
        transition: color 0.3s;
    }
    .bar li:hover a {
        text-decoration: none;
        transition: color 0.3s;
    }
}