.main-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primero {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image:url(/images/Gif/iguazu-falls.gif);
    background-size: cover;
    width: 100vw;
    height: 50vh;
}

.logo-home {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0px;
}
.logo-principal {
    min-width: 30px;
    max-width: 400px;
    padding: 0px 30px;
    filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.9));
}
.barra-busqueda-home {
    width: 100%;
    height: 40%;
}
.boton-de-inputs-home {
    width: 90%;
    height: 40px;
    border: none;
    padding: 0px auto;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
.campo-home {
    width: 90%;
    height: 30px;
    border: none;
    margin: 0px 5px;
    padding: 0px 0px  5px 5px;
}
.campo-home:focus {
    outline: none;
}
.lupa-home {
    border: none;
    color: #2199ea;
    font-size: 20px;
    margin-left: 0px;     
}
.search-home {
    background-color: transparent;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.carrusel-home {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 0px auto 50px;
}
.carousel {
    width: 100%;
    height: 400px;
}
.carousel-inner{
    width: 100%;
    height: 400px;
}
.carousel-item {
    width: 100%;
    height: 400px;
    position: relative;
}
.w-100 {
    object-fit: cover;
    height: 400px;
}
.info-carrusel {
    position: absolute;
    bottom: 0px;
    background-color: #14263be5;
    color: white;
    width: 100%;
    padding: 5px 30px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.productDescription-carrusel {
    display: none;
}
.identificador-carrusel {
    display: none;
}
.productName-carrusel {
    font-size: 18px;
    width: 100%;
    text-align: start;
    border-bottom: white solid 1px;
}
.productLocality-carrusel {
    font-size: 16px;
}
.hosp-home {
    color: white;
    font-size: 24px;
    border-bottom:white solid 1px;
    width: 90%;
    margin: auto;
    text-align: center;
    margin: 0px auto 10px;
}
.masProducts {
    background-color: #2199ea;
    color: #dee2e9;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin: 0px auto 60px;
}
@media (min-width: 768px) {
    .debajo-header-home1 {
        margin-top: 110px;
    }
    .primero {
        height: 80vh;
    }
    .logo-principal {
        min-width: 500px;
    }
    .boton-de-inputs-home {
        width: 70%;
        height: 50px;
    }
    .carrusel-home {
        height: 550px;
    }
    .carousel {
        height: 550px;
    }
    .carousel-inner {
        height: 550px;
    }
    .carousel-item {
        height: 550px;
    }
    .w-100 {
        height: 550px;
    }
    .info-carrusel {
        padding: 10px 50px;
    }
    .productDescription-carrusel {
        display: block;
    }
}
@media (min-width: 1024px) {
    .debajo-header-home1 {
        margin-top: 100px;
    }
    .primero {
        height: 90vh;
        margin-bottom: 50px;
    }
    .logo-principal {
        min-width: 650px;
    }
    .boton-de-inputs-home {
        width: 60%;
        height: 40px;
    }
    .carrusel-home {
        height: 600px;
        width: 80%;
    }
    .carousel {
        height: 600px;
    }
    .carousel-inner {
        height: 600px;
    }
    .carousel-item {
        height: 600px;
    }
    .w-100 {
        height: 600px;
    }
}
